*{
box-sizing:border-box;}

body{
	display:flex;
	justify-content:center;
	align-items:center;
height:100vh;
background-image: url("images/pattern-curve.svg");
background-repeat: no-repeat;
 background-position:left bottom;
 margin:0;
     font-family: 'Inter', sans-serif;
	
}
.fons{
	width:40%;
	position:absolute;
right:9%;
	z-index:-1;
}
.slider{
	align-items:center;

}



.bilde{

border-radius:5px;
  width: 100%;
  height: auto;}


.text{
	display:flex;
	flex-direction:column;
	justify-content:flex-end;
	
	width:53%;
	margin-left:10%;
	margin-right:-120px;
	z-index:1;
	font-size:2vw;
	font-weight:300;
	line-height:1.5;
	background-image: url("images/pattern-quotes.svg");
	background-repeat:no-repeat;
	background-position: 20% 0%;
	padding-top:50px;


}
p{
	margin-top:30px;
font-size:1.5vw;
color:hsl(240, 18%, 77%);
font-weight:500;
float:left;
}

strong{
color: hsl(240, 38%, 20%);
}



button{
	width:100px;
height:50px;
background-color:white;
border:none;
border-radius:20px;
position:absolute;
box-shadow: -10px 20px 40px 8px  hsl(240, 18%, 87%);
}
.next{
	position:absolute;
right:0;
padding:11px;
cursor:pointer;}
.prev{
	position:relative;
	padding:11px;
	margin-left:-58px;
	cursor:pointer;
}

.pogas2{
	position:relative;
	
	top:-25px;
left:80px;
}
.container{
	width:30%;
	margin-top:4%;
}

@media screen and (max-width:800px){
.slider{
	flex-direction:column;
	width:90%;
height:auto;
position:initial;
background-size:contain;
 background-position:top center;
 margin-top:50px;
 margin-bottom:40px;
}

.container{
position: absolute;
margin:auto;
width:70%;
top:80px;
display:flex;
justify-content:center;
flex-direction:column;
}
body{
	height:auto;
	align-items:initial;
	background-image: none;
}
.text{
	width:95%;
	position:initial;
	margin-left:0px;
	margin-right:0px;
	z-index:initial;
	font-size:18px;
	font-weight:300;
margin-bottom:40px;
	background-position: 18% 0%;
	height:320px;
justify-content:center;
margin-top:350px;
text-align:center;
background-position: top center;
background-size:20%;
padding-top:20px;
}
p{display:inline-block;
	margin-top:40px;
font-size:15px;
text-align:center;

float:none;

}
strong{
	display:block;
}

.fons{
	width:90%;
	position:absolute;
right:none;
	
}
.pogas2{
left:initial;
margin:auto;}
}

@media screen and (min-width:600px) and (max-width:800px){
	


.container{
position: absolute;
right:initial;
top:120px;
margin:auto;
width:65%;
height:500px;
}

.text{
	width:85%;
	position:initial;
	margin-left:0px;
	margin-right:0px;
	z-index:initial;
	font-size:20px;
	font-weight:300;
margin-bottom:40px;
	background-position: 18% 0%;
	height:320px;
justify-content:center;
margin-top:650px;
text-align:center;
background-position: top center;
background-size:20%;
padding-top:20px;
}




}