*{
box-sizing:border-box;}

body{
	display:flex;
	justify-content:center;
	align-items:center;
height:100vh;
background-image: url("images/pattern-curve.svg");
background-repeat: no-repeat;
 background-position:left bottom;
 margin:0;
     font-family: 'Inter', sans-serif;
}
.slider{
	display:flex;
	flex-direction:row;
	
	align-items:center;
	
width:75%;
height:650px;
background-image: url("images/pattern-bg.svg");
background-repeat: no-repeat;
 background-position:right center;
}



.container{
	
transform: translate(2%, 1%);
width:540px;
height:540px;


}
.container img{
border-radius:5px;}

.before, .next{
	width:60px;
	height:50px;
	border:none;
	background-color:white;
	transform: translate(-860%,550%);
	padding:11px;
cursor:pointer;

}
.before{
	border-top-left-radius:30px;
	border-bottom-left-radius:30px;
box-shadow: -6px 20px 40px 10px hsl(240, 38%, 85%);
}
.next{
	border-top-right-radius:30px;
	border-bottom-right-radius:30px;
	margin-left:-10px;
	box-shadow: 30px 20px 40px 10px hsl(240, 38%, 85%);
}

.text{
	display:flex;
	align-items:center;
	position:relative;
	width:55%;
	margin-left:10%;
	margin-right:-120px;
	z-index:1;
	font-size:32px;
	font-weight:300;
	line-height:1.5;
	background-image: url("images/pattern-quotes.svg");
	background-repeat:no-repeat;
	background-position: 20% 0%;
	height:350px;
}
